body{
    overflow-x: hidden;
    background-color: #faebd762;
    width: 85vw;
}

.nom{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 30px;
}

h1{
    font-size: 40px;
    margin: auto;
    color: #1f9da1;
}

h2{
    font-size: 35px;
    margin: auto;
}

section{
    width: 75vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.images{
    margin-bottom: 20px;
}

.container{
    width: 35vw;
    position: relative;
    left: 200px;
    top: -6px;
    padding: 10px;
    background-color: #f5d2c92c;
    border-radius: 20px;
}

.content1,
.content3 {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.content1 .survoler, 
.content3 .survoler{
    font-size: 15px;
    position: relative;
    left: 225px;
    top: 111px;
    width: 50px;
    padding-bottom: 2px;
}

.content2 .survoler{
    font-size: 15px;
    position: relative;
    left: 305px;
    top: 111px;
    width: 50px;
    padding-bottom: 2px;
}

.BullesImage {
    position: relative;
    display: inline-block;
    margin: 20px;
    max-width: 170px;
    margin-top: 40px;
    color: #bbb;
    box-shadow: none !important;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.BullesImage *,
.BullesImage:before,
.BullesImage:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.BullesImage:before,
.BullesImage:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 50%;
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
    border: 2px solid #bbb;
    border-color: transparent #bbb;
}

.BullesImage img {
    max-width: 100%;
    backface-visibility: hidden;
    vertical-align: top;
    border-radius: 50%;
    padding: 10px;
}

.BullesImage figcaption {
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    opacity: 0;
    background-color: rgb(95, 94, 94);
    border-radius: 50%;
}

.BullesImage i {
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 4em;
    z-index: 1;
    color: #f78b70;
}

.BullesImage a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    color: #20a2a7;
}
.BullesImage a:hover{
    color: #f5633e;
}

.BullesImage:hover figcaption,
.BullesImage.hover figcaption {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.BullesImage:hover:before,
.BullesImage.hover:before,
.BullesImage:hover:after,
.BullesImage.hover:after {
    border-width: 10px;
}

.BullesImage:hover:before,
.BullesImage.hover:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.BullesImage:hover:after,
.BullesImage.hover:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

span{
    font-size: 20px;
    position: relative;
    top: 65%;
    display: flex;
    justify-content: center;
    color: #f5aaaa;
}
.text{
    width: 100px;
    padding: 0px 0px 0px 7px;;
    font-size: 20px;
    color: #141414;
    border-bottom: 4px solid #f5aaaa;
    border-radius: 10px;
}

.Projet-ul li{
    font-size: 20px;
    height: 50px;
    position: relative;
    height: 35px;
}

.Projets-git{
    font-size: 18px;
    position: relative;
    top: 10px;
    left: 5px;
    height: 35px;  
}


@media screen and (min-width: 601px) and (max-width: 1135px) {
    body{
        margin: 0;
    } 
    
    .nom{
        width: 100%;
    }
    
    h1, h2{
        font-size: 33px;
        margin: auto;
    }
    
    section{
        width: 95vw;
        padding: 15px;
    }
    
    .container{
        width: 67vw;
        left: 140px;
        top: -35px;
    }
    
    .Projet-ul li,
    .projet-git{
        font-size: 17px;
    }
    
    .content1,
    .content3{
        position: relative;
        display: flex;
        flex-direction: column;
        align-self: start;
    }
    
    .BullesImage{
        max-width: 120px;
        margin-left: 1%;
    }

    .content1 .survoler, .content3 .survoler{
        left: 183px;
        top: 83px;
        font-size: 14px;
    }
    
    .content2 .survoler{
        left: 230px;
        top: 83px;
        font-size: 14px;
    }
}




@media screen and (max-width: 600px) {
    body{
        width: 95vw;
    }
    .nom{
        width: 70vw;
        margin: auto;
    }
    
    h1{
        font-size: 25px;
        margin: 0;
    }
    
    h2{
        font-size: 22px;
        padding-top: 5px;
        margin: 0;
    }
    
    section{
        margin: 0;
    }
    
    .container{
        width: 80vw;
        height: auto;
        position: relative;
        left: 75px;
        top: -18px;
        padding: 1px;
    }
    
    .BullesImage{
        max-width: 70px;
        margin-left: 0;
        margin-bottom: 0;
    }
    
    .BullesImage i{
        font-size: 2em;
    }
    
    span{
        font-size: 13px;
    }
    
    .text{
        width: 63px;
        font-size: 14px;
        padding: 4px 8px 1px 7px;
    }
    
    .Projet-ul li, .projet-git{
        font-size: 14px;
        height: 30px;
        position: relative;
        left: -15px;
        top: -10px;
        margin-bottom: 8px;
    }  
    
    .content1,
    .content3 {
        position: relative;
        display: flex;
        align-items: normal;
        flex-direction: column;
    }

    .content1 .survoler, .content2 .survoler, .content3 .survoler{
        left: 95%;
        top:86px;
    }
    .content1 .survoler .fa-regular,
    .content2 .survoler .fa-regular,
    .content3 .survoler .fa-regular {
        font-size: 13px;
    }
    .Projets-git{
        font-size: 14px;
        top: 5px;
    }
}




